@font-face {
    font-family: "BebasNeue";
    src: url("../fonts/bebasneue-regular-webfont.woff2");
}

/* Style Utamas */
body {
    font: 25px/50px "BebasNeue", "Arial Narrow", Arial, Helvetica, sans-serif;
    background-color: #ddd;
}

h1 {
    font-size: 80px;
    margin: 50px 0;
    text-align: center;
    text-shadow: 1px 1px 1px white;
}

.container {
    width: 760px;
    background-color: snow;
    margin: auto;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
}

.gallery li,
.gallery li a img,
.gallery li span {
    width: 170px;
    height: 170px;
    border-radius: 50%;
}

.gallery li {
    border: 5px solid #666;
    float: left;
    margin-right: 10px;
    position: relative;
}

.gallery li span {
    display: block;
    background-color: rgba(200, 200, 200, 0.5);
    position: absolute;
    top: 0;
    text-align: center;
    line-height: 170px;
    color: #333;
    text-shadow: 1px 1px 1px #ddd;
    opacity: 0;
    transform: scale(0);
    transition: 0.3s;
}

.gallery li a:hover span {
    opacity: 1;
    transform: scale(1) rotate(360deg);
}

.clear {
    clear: both;
}

/* Overlay */
.overlay {
    padding: 100px 0;
    width: 0;
    height: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0);
    z-index: 9999;
    transition: 0.8s;
    text-align: center;
}

.overlay:target {
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    width: auto;
    height: auto;
}

.overlay:target img {
    animation: fade 1s;
}

.overlay img {
    max-height: 100%;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
}

.overlay .close {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%);
    text-decoration: none;
    color: white;
    background-color: black;
    border: 1px solid white;
    line-height: 16px;
    padding: 5px;
    opacity: 0;
}

.overlay:target .close {
    animation: slideDownFade 0.5s 0.5s forwards;
}

.overlay:target .next,
.overlay:target .prev {
    animation: fade 0.5s 0.7s forwards;
}

/* Navigasi */
.next,
.prev {
    width: 70px;
    height: 89px;
    background-image: url(../img/next.png);
    background-repeat: no-repeat;
    position: absolute;
    text-indent: -9999px;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 50px;
    opacity: 0;
}

.prev {
    background-image: url(../img/prev.png);
    margin-left: -120px;
}

/* Animasi */
@keyframes zoomAndFade {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes slideDownFade {
    0% {
        opacity: 0;
        margin-top: -20px;
    }
    100% {
        opacity: 1;
        margin-top: 0;
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
